In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Physician_Compare_National_Downloadable_File.csv')

C:\Users\pengq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,25,26,27,28,29,30,31,32,33,34,36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1497866057    327
1649584541    327
1508902941    146
1720342355    145
1891763082    145
1386608008    145
1285608661    145
1437141090    142
1528342631    133
1063507713    132
1578595815    132
1750557997    124
1538449335    124
1023373438    124
1760583306    124
1144686528    124
1477929644    124
1902192958    123
1346578606    123
1245250372    122
1841232683    122
1447225834    115
1780973255    115
1588659445    115
1689668758    115
1730239492    111
1124042338     95
1114979671     92
1255493136     91
1184909376     91
             ...
1114068608      1
1801936513      1
1629071022      1
1700112174      1
1073516027      1
1316492648      1
1790870970      1
1811907066      1
1639499122      1
1245236595      1
1730171075      1
1346309515      1
1154496412      1
1427154830      1
1073640868      1
1427148683      1
1497286066      1
1821417353      1
1073518072      1
1790801348      1
1023219144      1
1023215050      1
1033348974      1
1346227667      1
1568513497      1
1790729697      1
1730193418      1
1922486083      1
1972821825      1
1396711420      1
Name: NPI, Length: 1070395, dtype: int64

In [10]:
df.head()

,NPI,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
0,1487927612,4880850486,I20120726000331,HALL,ESTHER,S,NaN,F,NaN,LIFE CHIROPRACTIC COLLEGE - WEST,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
1,1235146762,2365435336,I20040406000367,WHITE,BARBARA,L,NaN,F,CSW,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
2,1346282258,5395768527,I20060113000139,DAVIDSON,JOHN,A,NaN,M,CSW,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
3,1932283124,5193762862,I20050415000143,CAGEN,STEVEN,F,NaN,M,DC,SHERMAN COLLEGE OF STRAIGHT CHIROPRACTIC,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
4,1902950462,7416123666,I20120110000522,ESPY,LEISHA,H,NaN,F,NaN,LIFE CHIROPRACTIC COLLEGE,...,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [7]:
unique_words = set(df['NPI'])

In [8]:
unique_word_count = len(unique_words)

In [9]:
print('number of id=',unique_word_count)

number of id= 1070395

In [11]:
unique_PACID = set(df['PAC ID'])
unique_PACID_count = len(unique_PACID)
print('number of PAC ID=',unique_PACID_count)

number of PAC ID= 1070399

In [16]:
df[Gender].describe()

NameError: name 'Gender' is not defined

In [19]:
df['Gender'].count()

2955262

In [17]:
df['NPI'].nunique()

1070395

In [18]:
df['Gender'].nunique()

3

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [21]:
len(df.groupby(['NPI']).groups['M'])

KeyError: 'M'

# Subquestion 1

In [22]:
# Get the first entry for each NPI
list_npi=df.groupby('NPI').first()

In [24]:
len(list_npi)

1070395

In [26]:
list_npi['Gender'].count()

1070395

## Subquestion 2

In [27]:
group_gender=list_npi.groupby('Gender')

In [28]:
group_gender.count() # male=578090,female=492304

,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Credential,Medical school name,Graduation year,Primary specialty,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
Gender,,,,,,,,,,,,,,,,,,,,,
F,492304,492304,492295,492292,359042,92,124339,492297,491606,492304,...,63303,63034,31653,31493,16849,16743,492304,292470,68321,2867
M,578090,578090,578079,578090,443674,20734,216670,578084,575984,578090,...,154395,153666,94666,94137,58925,58519,578090,373240,154164,5254
U,1,1,1,1,0,0,1,1,1,1,...,0,0,0,0,0,0,1,1,0,0

In [31]:
#ratio of male to female clinicians
print('Ratio of male to female clinicians=',(578090/492304))

Ratio of male to female clinicians= 1.1742541194058955

## Subquestion 3

In [40]:
# group by credential
group_credential=list_npi.groupby('Credential')

In [ ]:
list_npi.groupby('Credential').agg({'B': ['min', 'max'], 'C': 'sum'})

In [42]:
group_credential.count()

,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Medical school name,Graduation year,Primary specialty,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
Credential,,,,,,,,,,,,,,,,,,,,,
AA,222,222,222,222,181,5,222,222,221,222,...,11,11,3,3,2,2,222,173,1,0
AU,1119,1119,1119,1119,956,17,1119,1119,1118,1119,...,4,4,1,1,1,1,1119,599,0,0
CNA,11585,11585,11585,11585,9968,268,11585,11585,11577,11585,...,706,705,187,187,54,54,11585,7901,0,1
CNM,923,923,923,923,767,0,923,923,921,923,...,9,9,2,2,1,1,923,616,0,4
CNS,998,998,998,998,829,3,998,998,998,998,...,44,44,21,21,9,9,998,432,1,5
CP,6871,6871,6871,6871,5713,110,6871,6871,6870,6871,...,13,12,2,2,1,1,6871,1391,4,2
CSW,8751,8751,8751,8751,6968,70,8751,8750,8746,8751,...,1,1,0,0,0,0,8751,1202,0,1
DC,14759,14759,14758,14759,13194,478,14759,14759,14745,14759,...,35,35,14,14,9,9,14759,4142,1930,1
DDM,190,190,190,190,157,9,190,190,190,190,...,7,7,2,2,0,0,190,22,11,1
DDS,468,468,468,468,405,26,468,468,467,468,...,11,11,4,4,2,2,468,89,27,1
DO,14234,14234,14234,14234,12035,466,14234,14234,14191,14234,...,5515,5489,3366,3344,2047,2036,14234,10673,5089,231
DPM,5682,5682,5682,5682,4630,162,5682,5682,5674,5682,...,753,749,273,272,93,93,5682,2859,1832,36
MD,216804,216804,216802,216804,167045,6068,216804,216804,215959,216804,...,76341,76014,48341,48096,30627,30413,216804,162538,78960,2481
MNT,681,681,681,681,535,1,681,681,681,681,...,10,10,6,6,5,5,681,367,2,3
NP,18426,18426,18426,18426,15771,96,18426,18426,18420,18426,...,2374,2369,1029,1024,434,431,18426,12846,16,181
OD,10408,10408,10406,10408,8891,228,10408,10408,10405,10408,...,10,10,4,4,3,3,10408,2491,2406,4
OT,1094,1094,1094,1094,894,9,1094,1094,1094,1094,...,1,1,1,1,1,1,1094,577,0,5
PA,17326,17326,17326,17326,14930,320,17326,17326,17316,17326,...,2266,2257,890,884,397,391,17326,12830,46,151
PSY,145,145,145,145,119,7,145,145,145,145,...,1,1,0,0,0,0,145,26,0,0
PT,10323,10323,10323,10323,8484,200,10323,10323,10312,10323,...,12,12,10,10,2,2,10323,6018,10,11
SCW,1,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,1,1,0,0

In [54]:
list_gender_credential=list_npi.groupby(['Credential', 'Gender']).size()

In [55]:
list_gender_credential

Credential  Gender
AA          F            105
            M            117
AU          F            870
            M            249
CNA         F           6309
            M           5276
CNM         F            916
            M              7
CNS         F            941
            M             57
CP          F           3713
            M           3158
CSW         F           6818
            M           1933
DC          F           3238
            M          11520
            U              1
DDM         F             25
            M            165
DDS         F             36
            M            432
DO          F           3852
            M          10382
DPM         F           1187
            M           4495
MD          F          58854
            M         157950
MNT         F            662
            M             19
NP          F          16773
            M           1653
OD          F           3871
            M           6537
OT          F            892
            M            202
PA          F          10224
            M           7102
PSY         F             71
            M             74
PT          F           4981
            M           5342
SCW         F              1
dtype: int64

In [89]:
count_by_gender_credential = list_gender_credential.unstack()
count_by_gender_credential

Gender            F         M    U
Credential
AA            105.0     117.0  NaN
AU            870.0     249.0  NaN
CNA          6309.0    5276.0  NaN
CNM           916.0       7.0  NaN
CNS           941.0      57.0  NaN
CP           3713.0    3158.0  NaN
CSW          6818.0    1933.0  NaN
DC           3238.0   11520.0  1.0
DDM            25.0     165.0  NaN
DDS            36.0     432.0  NaN
DO           3852.0   10382.0  NaN
DPM          1187.0    4495.0  NaN
MD          58854.0  157950.0  NaN
MNT           662.0      19.0  NaN
NP          16773.0    1653.0  NaN
OD           3871.0    6537.0  NaN
OT            892.0     202.0  NaN
PA          10224.0    7102.0  NaN
PSY            71.0      74.0  NaN
PT           4981.0    5342.0  NaN
SCW             1.0       NaN  NaN

In [91]:
count_by_gender_credential['ratiao_F_M'] = count_by_gender_credential.F/count_by_gender_credential.M
count_by_gender_credential.ratiao_F_M.max()

130.85714285714286

## How many states have fewer than 10 healthcare facilities in this dataset?

In [102]:
df_facilities=pd.read_csv('Physician_Compare_2015_Group_Public_Reporting___Performance_Scores.csv')

In [103]:
df_facilities.columns

Index(['Organization legal name or 'doing business as' name', 'Group PAC ID',
       'State', 'Participating in PQRS', 'Measure Identifier', 'Measure Title',
       'Inverse Measure', 'Measure Performance Rate', 'Footnote',
       'Reporting Mechanism', 'Reported on PC Live Site'],
      dtype='object')

In [107]:
# Get the first entry for each NPI
group_pacid=df_facilities.groupby('Group PAC ID').first()
group_pacid.head()

,Organization legal name or 'doing business as' name,State,Participating in PQRS,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Footnote,Reporting Mechanism,Reported on PC Live Site
Group PAC ID,,,,,,,,,,
42102592,GLEN BURNIE PHYSICAL THERAPY AND SPORTSCARE LLC,MD,NaN,PQRS_GRP_131_1,Pain Assessment and Follow-Up,N,99.0,NaN,REG,Y
42105678,HERITAGE VALLEY MEDICAL GROUP INC,PA,Y,PQRS_GRP_110_1,Preventive Care and Screening: Influenza Immun...,N,62.0,2.0,WI,Y
42107609,YOUNG REHAB COMPANY PC,MI,NaN,PQRS_GRP_131_1,Pain Assessment and Follow-Up,N,100.0,NaN,REG,Y
42111981,MAYO CLINIC HEALTH SYSTEM-OWATONNA,MN,Y,PQRS_GRP_110_1,Preventive Care and Screening: Influenza Immun...,N,84.0,NaN,WI,Y
42124174,"FRANKLIN MEDICAL GROUP, PC",CT,Y,PQRS_GRP_119_1,Diabetes: Medical Attention for Nephropathy,N,26.0,NaN,REG,Y

In [122]:
group_pacid_state=group_pacid.groupby('State').count()
group_pacid_state.head()

,Organization legal name or 'doing business as' name,Participating in PQRS,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Footnote,Reporting Mechanism,Reported on PC Live Site
State,,,,,,,,,
AK,8,8,8,8,8,8,1,8,8
AL,35,28,35,35,35,35,1,35,35
AR,28,26,28,28,28,28,0,28,28
AZ,39,35,39,39,39,39,1,39,39
CA,143,130,143,143,143,143,3,143,143

In [125]:

sum(i <10  for i in group_pacid_state.iloc[:,0])

9

## What is the standard deviation of that distribution of these average rates for individuals who have at least 10

In [132]:
df=pd.read_csv('Physician_Compare_2015_Individual_EP_Public_Reporting___Performance_Scores.csv')

In [135]:
df.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Reporting Mechanism,Reported on PC Live Site
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,21,CLM,Y
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,28,CLM,Y
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_112_1,Breast Cancer Screening,N,37,CLM,Y
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,22,CLM,Y
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_128_1,Preventive Care and Screening: Body Mass Index...,N,42,CLM,Y

In [137]:
mean_score=df.groupby('NPI').mean()

In [144]:

mean_score[mean_score['Measure Performance Rate']>=10].describe()

             PAC ID  Measure Performance Rate
count  1.769870e+05             176987.000000
mean   4.993581e+09                 83.384621
std    2.871881e+09                 22.510092
min    4.210012e+07                 10.000000
25%    2.466700e+09                 69.375000
50%    4.981890e+09                 96.800000
75%    7.416971e+09                100.000000
max    9.931430e+09                100.000000

In [149]:

mean_score_greater_10=mean_score[mean_score['Measure Performance Rate']>=10]

                  PAC ID  Measure Performance Rate
NPI
1003000142  9.931381e+09                 46.125000
1003000407  2.769664e+09                 76.000000
1003000704  2.365611e+09                100.000000
1003000829  4.587977e+09                 98.000000
1003001371  4.385734e+09                 91.000000
1003001785  5.799872e+09                100.000000
1003002072  7.214189e+09                 96.333333
1003002098  2.365677e+09                100.000000
1003002379  5.496842e+09                 95.000000
1003002783  6.507957e+09                100.000000
1003002932  9.739345e+09                 69.000000
1003003088  4.981792e+09                 68.333333
1003003153  9.830313e+09                 45.333333
1003003856  6.305813e+09                 15.000000
1003004318  3.678654e+09                 80.200000
1003004326  3.173610e+09                100.000000
1003004573  6.103963e+09                 34.500000
1003005109  7.214106e+09                100.000000
1003006107  6.002956e+09                100.000000
1003006172  8.404633e+08                100.000000
1003006503  1.951572e+09                100.000000
1003006552  6.204973e+09                 99.750000
1003006636  3.577700e+09                 64.666667
1003007022  5.193808e+09                 16.000000
1003007204  4.248341e+07                100.000000
1003007246  5.597841e+09                 60.500000
1003007295  5.395939e+09                100.000000
1003007360  9.830262e+09                100.000000
1003007469  7.113109e+09                100.000000
1003008111  6.406028e+09                 59.000000
...                  ...                       ...
1992989776  1.557432e+09                 68.666667
1992989925  8.426299e+09                 71.000000
1992990014  9.537307e+09                 28.500000
1992990667  1.433151e+08                 65.166667
1992990709  7.416007e+09                 37.888889
1992991228  9.335297e+09                 91.500000
1992991848  2.443282e+08                 98.250000
1992992010  9.414990e+08                 73.666667
1992992283  1.355438e+09                 87.500000
1992992317  2.769563e+09                 91.714286
1992993331  1.951482e+09                 11.000000
1992993356  9.830279e+09                100.000000
1992993893  1.850441e+09                 78.000000
1992993927  6.305919e+09                 98.000000
1992994990  3.173693e+09                 97.000000
1992995542  4.284870e+09                 96.000000
1992996102  2.443037e+08                100.000000
1992996417  8.820213e+09                 59.000000
1992996607  3.173606e+09                100.000000
1992996631  5.698822e+09                 97.750000
1992996771  3.971773e+09                 96.666667
1992996912  1.433070e+08                 69.857143
1992997522  5.193809e+09                 73.400000
1992997548  5.193813e+09                 67.000000
1992998025  3.971684e+09                100.000000
1992998207  7.719179e+09                 95.875000
1992998611  7.315031e+09                 75.000000
1992998645  5.473424e+08                100.000000
1992999569  4.385710e+09                 87.200000
1992999874  8.820169e+09                100.000000

[176987 rows x 2 columns]

In [151]:
np.std(mean_score_greater_10.iloc[:,1])

22.51002796106392

## What is the absolute difference in the average performance rates between doctors (MD) and nurse practitioners (NP)? only consider individuals who have at least 10 rates.

In [2]:
df=pd.read_csv('Physician_Compare_2015_Individual_EP_Public_Reporting___Performance_Scores.csv')
df.head()
# group by NPI and get mean of each individual
mean_score=df.groupby('NPI').mean()
# select individuals whoes average performance rate is euqal and bigger than 10
performance_mean=mean_score[mean_score['Measure Performance Rate']>=10]
performance_mean.head()

                  PAC ID  Measure Performance Rate
NPI
1003000142  9.931381e+09                    46.125
1003000407  2.769664e+09                    76.000
1003000704  2.365611e+09                   100.000
1003000829  4.587977e+09                    98.000
1003001371  4.385734e+09                    91.000

In [9]:
# 
df2=pd.read_csv('Physician_Compare_National_Downloadable_File.csv')
# get credential of individuals
list_credential=df2.groupby('NPI').first()

C:\Users\pengq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,25,26,27,28,29,30,31,32,33,34,36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
list_credential.head()

,PAC ID,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,Graduation year,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
NPI,,,,,,,,,,,,,,,,,,,,,
1003000126,7517003643,I20150824000105,ENKESHAFI,ARDALAN,NaN,NaN,M,NaN,OTHER,1994.0,...,490048,LEWISGALE MEDICAL CENTER,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
1003000134,4284706367,I20080707000385,CIBULL,THOMAS,L,NaN,M,NaN,UNIVERSITY OF KENTUCKY COLLEGE OF MEDICINE,2003.0,...,140130,NORTHWESTERN LAKE FOREST HOSPITAL,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
1003000142,9931380672,I20110801000609,KHALIL,RASHID,NaN,NaN,M,NaN,OTHER,1999.0,...,360081,MERCY ST CHARLES HOSPITAL,360090,ST LUKE'S HOSPITAL,NaN,NaN,Y,Y,Y,NaN
1003000407,2769663509,I20110225000837,GIRARDI,DAVID,J,NaN,M,NaN,PHILADELPHIA COLLEGE OF OSTEOPATHIC MEDICINE,2003.0,...,390086,PENN HIGHLANDS DUBOIS,390050,ALLEGHENY GENERAL HOSPITAL,NaN,NaN,Y,Y,NaN,NaN
1003000423,9133397268,I20110715000515,VELOTTA,JENNIFER,A,NaN,F,NaN,TOLEDO MEDICAL COLLEGE,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN

In [6]:
list_credential['Credential'].isnull().sum()

729385

In [10]:
credential_score=pd.merge(performance_mean,list_credential,on='PAC ID',how='left')
credential_score.groupby('Credential').mean()

,Measure Performance Rate,Graduation year,Group Practice PAC ID,Number of Group Practice members,Hospital affiliation CCN 5
Credential,,,,,
AA,96.247059,1999.058824,5.503080e+09,216.376471,255051.000000
AU,84.383162,1996.226804,4.712854e+09,22.918782,NaN
CNA,95.334566,1995.754689,5.116136e+09,227.745117,344009.000000
CNM,74.781015,1998.894737,5.394862e+09,236.555556,NaN
CNS,82.638974,1991.678571,5.686916e+09,142.229167,NaN
CP,94.802931,1990.540146,5.116668e+09,51.697183,NaN
CSW,93.927763,1987.741144,5.069782e+09,79.757353,NaN
DC,95.465825,1994.239041,5.033886e+09,10.183796,350676.000000
DDM,81.500000,1993.500000,4.621676e+09,7.666667,NaN
DDS,65.840000,1991.200000,3.274756e+09,106.333333,NaN
DO,77.807734,1993.537642,4.961959e+09,165.945410,276774.038732
DPM,78.348130,1992.204767,4.932421e+09,105.753954,190466.666667
MD,78.950961,1989.653099,4.934892e+09,192.030155,279864.720064
MNT,75.584375,1992.562500,4.859555e+09,329.272727,490020.000000
NP,73.438422,1999.739300,5.144073e+09,245.689198,287954.800000
OD,93.246796,1993.412245,4.907318e+09,36.043430,NaN
OT,92.557932,1991.078853,4.666324e+09,108.672000,NaN
PA,69.011895,1999.666667,4.939440e+09,218.649948,302934.985915
PSY,98.000000,1993.818182,3.942657e+09,5.875000,NaN
PT,94.349544,1994.929422,5.042033e+09,62.903318,NaN

In [37]:
credential_score_pd=credential_score.groupby('Credential').mean()
credential_score_pd.loc[credential_score_pd.iloc[:,0].loc['MD'], 'Measure Performance Rate']
MD_Mean=78.95096067002554

KeyError: 'the label [78.95096067002554] is not in the [index]'

In [38]:
MD_Mean=78.95096067002554

In [34]:
credential_score_pd.loc[credential_score_pd.iloc[:,0].loc['NP'], 'Measure Performance Rate']
NP_mean=73.43842217047016

KeyError: 'the label [73.43842217047016] is not in the [index]'

In [39]:
NP_mean=73.43842217047016

In [40]:
absolute_difference=MD_Mean-NP_mean

In [41]:
absolute_difference

5.512538499555376

### What is the p-value of the linear regression of performance rates vs. graduation year? Consider the average performance rates (across all measures) of every doctor (MD) who graduated between 1973 and 2003 (inclusive). Only consider doctors who have at least 10 rates. For each graduation year, compute the mean of these rates. Assuming the relationship between graduation year and performance rates is linear, find the slope and determine if the relationship is significant. Return the p-value of the linear regression.

In [ ]:
# merge dataframe of performance with dataframe of credential
credential_score=pd.merge(performance_mean,list_credential,on='PAC ID',how='left')
credential_score.groupby('Credential').mean()

In [11]:
credential_score.shape
credential_score.head()

,PAC ID,Measure Performance Rate,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
0,9.93138e+09,46.125,I20110801000609,KHALIL,RASHID,NaN,NaN,M,NaN,OTHER,...,360081,MERCY ST CHARLES HOSPITAL,360090,ST LUKE'S HOSPITAL,NaN,NaN,Y,Y,Y,NaN
1,2.76966e+09,76.000,I20110225000837,GIRARDI,DAVID,J,NaN,M,NaN,PHILADELPHIA COLLEGE OF OSTEOPATHIC MEDICINE,...,390086,PENN HIGHLANDS DUBOIS,390050,ALLEGHENY GENERAL HOSPITAL,NaN,NaN,Y,Y,NaN,NaN
2,2.36561e+09,100.000,I20110815000351,GATTON,ZACHARY,M,NaN,M,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
3,4.58798e+09,98.000,I20150714000118,KOCHANEK,MICHELLE,R,NaN,F,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
4,4.38573e+09,91.000,I20071219000090,KANTER,DAVID,M,NaN,F,NaN,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN

In [12]:
#Drop unrelated rows . Only leave with credential of MD
credential_score.drop(credential_score[credential_score.Credential != 'MD'].index, inplace=True)

In [13]:
credential_score.shape

(42681, 41)

In [14]:
credential_score.columns

Index(['PAC ID', 'Measure Performance Rate', 'Professional Enrollment ID',
       'Last Name', 'First Name', 'Middle Name', 'Suffix', 'Gender',
       'Credential', 'Medical school name', 'Graduation year',
       'Primary specialty', 'Secondary specialty 1', 'Secondary specialty 2',
       'Secondary specialty 3', 'Secondary specialty 4',
       'All secondary specialties', 'Organization legal name',
       'Group Practice PAC ID', 'Number of Group Practice members',
       'Line 1 Street Address', 'Line 2 Street Address',
       'Marker of address line 2 suppression', 'City', 'State', 'Zip Code',
       'Phone Number', 'Hospital affiliation CCN 1',
       'Hospital affiliation LBN 1', 'Hospital affiliation CCN 2',
       'Hospital affiliation LBN 2', 'Hospital affiliation CCN 3',
       'Hospital affiliation LBN 3', 'Hospital affiliation CCN 4',
       'Hospital affiliation LBN 4', 'Hospital affiliation CCN 5',
       'Hospital affiliation LBN 5',
       'Professional accepts Medicare Assignment', 'Reported Quality Measures',
       'Used electronic health records',
       'Committed to heart health through the Million Hearts® initiative.'],
      dtype='object')

In [15]:
credential_score['Graduation year']

13        1997.0
38        2003.0
67        1987.0
115       1986.0
130       1997.0
135       1974.0
258       2000.0
316       1993.0
425       1990.0
638       1982.0
641       1973.0
642       1995.0
643       2001.0
644       1985.0
645       1980.0
646       1995.0
647       1986.0
648       1972.0
651       1995.0
653       1993.0
656       1998.0
659       1993.0
661       1973.0
665       1985.0
666       1985.0
670       2000.0
680       1981.0
685       1992.0
689       1984.0
691       1977.0
           ...
176637    1989.0
176650    1989.0
176651    1991.0
176653    2002.0
176655    1992.0
176658    2000.0
176659    2001.0
176663    1991.0
176666    1998.0
176669    1984.0
176671    2000.0
176685    2001.0
176687    1996.0
176688    1995.0
176695    1982.0
176705    1982.0
176706    1984.0
176707    1993.0
176711    1994.0
176713    1978.0
176714    1990.0
176716    1998.0
176717    1998.0
176718    1972.0
176778    1997.0
176781    1999.0
176782    1971.0
176795    2000.0
176796    1983.0
176952    1991.0
Name: Graduation year, Length: 42681, dtype: float64

In [16]:
# drop rows which graduation year <1973
credential_score.drop(credential_score[credential_score['Graduation year'] < 1973].index, inplace=True)

In [17]:
# drop rows which graduation year >2003
credential_score.drop(credential_score[credential_score['Graduation year'] > 2003].index, inplace=True)

In [18]:
credential_score.shape

(40725, 41)

In [19]:
credential_score.head()

,PAC ID,Measure Performance Rate,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
13,6.30581e+09,15.000000,I20040913000368,SANTIAGO,CYNTHIA,NaN,NaN,F,MD,NEW YORK UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
38,1.55739e+09,40.555556,I20150822015059,SHAYA,WISSAM,NaN,NaN,M,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
67,9.13312e+09,98.666667,I20040504000047,FISHMAN,MICHAEL,SCOT,NaN,M,MD,OHIO STATE UNIVERSITY COLLEGE OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
115,8.62802e+09,100.000000,I20050210000834,KUSMIERZ,ZBIGNIEW,NaN,NaN,M,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
130,7.51793e+09,100.000000,I20070801000350,AHERN,RYAN,W,NaN,M,MD,TULANE UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN

In [20]:
#compute mean of each year
credential_score_year=credential_score.groupby('Graduation year').mean()
credential_score_year.columns
# change index to a column
credential_score_year['graduatation year'] = credential_score_year.index

In [21]:
credential_score_year.head()

,Measure Performance Rate,Group Practice PAC ID,Number of Group Practice members,Hospital affiliation CCN 5,graduatation year
Graduation year,,,,,
1973.0,78.341077,5.013265e+09,183.760797,205810.375000,1973.0
1974.0,78.314540,4.822969e+09,178.367403,300113.230769,1974.0
1975.0,75.032327,4.828520e+09,165.082040,284051.515789,1975.0
1976.0,78.169666,5.002794e+09,207.367347,278889.852941,1976.0
1977.0,78.612541,4.954465e+09,173.054007,263573.066667,1977.0

In [27]:
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

C:\Users\pengq\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [39]:
lm = sk.linear_model.LinearRegression()
x=credential_score_year['graduatation year']
x=sm.add_constant(x)
y=credential_score_year['Measure Performance Rate']
model=sm.OLS(y,x).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
====================================================================================
Dep. Variable:     Measure Performance Rate   R-squared:                       0.200
Model:                                  OLS   Adj. R-squared:                  0.172
Method:                       Least Squares   F-statistic:                     7.245
Date:                      Fri, 02 Feb 2018   Prob (F-statistic):             0.0117
Time:                              16:39:42   Log-Likelihood:                -45.070
No. Observations:                        31   AIC:                             94.14
Df Residuals:                            29   BIC:                             97.01
Df Model:                                 1
Covariance Type:                  nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               -36.2424     42.741     -0.848      0.403    -123.658      51.174
graduatation year     0.0579      0.021      2.692      0.012       0.014       0.102
==============================================================================
Omnibus:                        5.694   Durbin-Watson:                   1.707
Prob(Omnibus):                  0.058   Jarque-Bera (JB):                3.995
Skew:                          -0.754   Prob(JB):                        0.136
Kurtosis:                       3.904   Cond. No.                     4.42e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

## What is the p-value of the difference in MD and NP performance rates from the previous question? Perform a two-sample t-test and compute the two-tailed p-value. Assume that the distributions are normal and have equal variance.

In [ ]:
from __future__ import print_function
from scipy.stats import ttest_ind, ttest_ind_from_stats
from scipy.special import stdtr

In [41]:
# load data of performance of individuals
df=pd.read_csv('Physician_Compare_2015_Individual_EP_Public_Reporting___Performance_Scores.csv')
# group by NPI and get mean of each individual
mean_score=df.groupby('NPI').mean()
# select individuals whoes average performance rate is euqal and bigger than 10
performance_mean=mean_score[mean_score['Measure Performance Rate']>=10]

In [42]:
# load data of credential o individuals
df2=pd.read_csv('Physician_Compare_National_Downloadable_File.csv')
# get credential of individuals
list_credential=df2.groupby('NPI').first()

C:\Users\pengq\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (15,25,26,27,28,29,30,31,32,33,34,36,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
# merge them
credential_score=pd.merge(performance_mean,list_credential,on='PAC ID',how='left')

In [44]:
# Get MD array
#Drop unrelated rows . Only leave with credential of MD
credential_score_MD=credential_score.drop(credential_score[credential_score.Credential != 'MD'].index)
credential_score_MD.head()

,PAC ID,Measure Performance Rate,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
13,6.30581e+09,15.000000,I20040913000368,SANTIAGO,CYNTHIA,NaN,NaN,F,MD,NEW YORK UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
38,1.55739e+09,40.555556,I20150822015059,SHAYA,WISSAM,NaN,NaN,M,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
67,9.13312e+09,98.666667,I20040504000047,FISHMAN,MICHAEL,SCOT,NaN,M,MD,OHIO STATE UNIVERSITY COLLEGE OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
115,8.62802e+09,100.000000,I20050210000834,KUSMIERZ,ZBIGNIEW,NaN,NaN,M,MD,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
130,7.51793e+09,100.000000,I20070801000350,AHERN,RYAN,W,NaN,M,MD,TULANE UNIVERSITY SCHOOL OF MEDICINE,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN

In [45]:
# Get NP array
credential_score_NP=credential_score.drop(credential_score[credential_score.Credential != 'NP'].index)
credential_score_NP.head()

,PAC ID,Measure Performance Rate,Professional Enrollment ID,Last Name,First Name,Middle Name,Suffix,Gender,Credential,Medical school name,...,Hospital affiliation CCN 3,Hospital affiliation LBN 3,Hospital affiliation CCN 4,Hospital affiliation LBN 4,Hospital affiliation CCN 5,Hospital affiliation LBN 5,Professional accepts Medicare Assignment,Reported Quality Measures,Used electronic health records,Committed to heart health through the Million Hearts® initiative.
878,4.68862e+09,54.222222,I20081125000421,PARSONS,KELLY,NaN,NaN,F,NP,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
897,4.68868e+09,100.000000,I20060829000258,ADKINS,MARK,J,NaN,M,NP,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
946,1.65833e+09,27.000000,I20050408000032,STANEK,CHRISTINE,A,NaN,F,NP,OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
1003,1.95137e+09,96.000000,I20041119000738,MACKNAIR,SUSAN,S,NaN,F,NP,OTHER,...,330180,SAMARITAN HOSPITAL,330232,ST MARY'S HOSPITAL ( TROY ),330003.0,ALBANY MEMORIAL HOSPITAL,Y,Y,NaN,NaN
1032,5.47263e+08,63.500000,I20060816000140,SOLOM,DEBRA,E,NaN,F,NP,OTHER,...,260081,SSM HEALTH ST CLARE HOSPITAL - FENTON,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN

In [49]:
# Use scipy.stats.ttest_ind.
t, p = ttest_ind(credential_score_MD['Measure Performance Rate'], credential_score_NP['Measure Performance Rate'], equal_var=False)
print("ttest_ind:            t = %g  p = %g" % (t, p))

ttest_ind:            t = 8.53092  p = 3.24666e-17